<html>

<head>
    <title>voterOne</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="javascripts/comment.js"></script>

</head>

<body ng-app="candidate" ng-controller="MainCtrl">

    <div class="page-header">
        <h1>Voter Interface </h1>
    </div>

    <form ng-submit="addComment()" style="margin-top30px;">
        <button type="submit">Add Comment</button>
    </form>

    <h1>Current Candidates</h1>
    <div ng-repeat="candidate in candidates | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(candidate)"></span> {{candidate.Name}} - upvotes: {{candidate.upvotes}}
    </div>

</body>

</html>
